body {
    background-color: #ffdbf7;
    text-align: center;
}
h1 {
    color: #43c1bb;
    font-family: 'Krub', sans-serif;
}
h2 {
    color: #844ca3;
    font-family: 'Playfair Display', serif;
}
ul { 
    display: table; 
    margin: 0 auto;
    text-align: left;
    font-family: 'Bitter', serif;
}
img {
    border: dotted yellow;
}
p {
    font-family: 'Dosis', sans-serif;
}